# Errors get logged to /var/log/cfn-init.log. See Also /var/log/eb-tools.log

packages:
    yum:
        dos2unix: []


container_commands:
    01-command:
        command:        rm -rf /myApp/.ebextensions

    02-command:
        command:        mkdir -p /myApp/.ebextensions

    03-command:
        command:        cp -R .ebextensions/* /myApp/.ebextensions/
        
    04-command:
        command:        echo "ELASTICBEANSTALK_CMD_LEADER=true" > /myApp/.ebextensions/copy-to-slash/root/.elastic-beanstalk-cmd-leader
        leader_only:    true

    05-command:
        command:        dos2unix -k /myApp/.ebextensions/scripts/main/app-setup.sh

    06-command:
        command:        chmod 700 /myApp/.ebextensions/scripts/main/app-setup.sh

    07-command:
        command:        bash /myApp/.ebextensions/scripts/main/app-setup.sh
